DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=你的密码
DB_NAME=pppet
DATABASE_URL=mysql+aiomysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DATABASE_URL_SYNC=mysql+pymysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
COZE_API_KEY=
COZE_BASE_URL=https://api.coze.cn
COZE_OAUTH_APP_ID=1110124205596
COZE_OAUTH_KID=aQ52u7fcSmR1BbQhXS4XKR7c7Ptwrhmsx2JXjcCgc2k
COZE_PRIVATE_KEY_PATH="../private_key pppet.pem"
COZE_OAUTH_AUDIENCE=api.coze.cn
COZE_ACCESS_TOKEN_DURATION_SECONDS=900
COZE_OCR_IMAGE_WORKFLOW_ID=7619234803271909430
COZE_PDF_WORKFLOW_ID=7619239383987683380
SECRET_KEY=请替换为本地随机密钥
